/*debug*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main container */
.main-cont {
  width: 80%;
  height: 280px;
  border: 2px solid rgb(0, 136, 255);
  margin: 50px auto;
  display: flex;
}

/**front img container*/
.front-image-cont {
  width: 80%;
  height: 100%;
  /* border: 2px solid green; */
}

.front-cont {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: relative;
  /* transition: 2000ms opacity ease-in-out;
  transition-delay: 2000ms;
  scroll-behavior: smooth; */
}
/* .front-cont[data-active] {
  transition-delay: 0ms;
}
 */
.front-cont .text-cont {
  position: absolute;
  bottom: 15px;
  text-align: right;
  right: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
}

.text-cont > p {
  font-size: 12px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  display: block;
}

.border-active {
  border: 2px solid white;
}

/** right container */
.right-image-cont {
  width: 20%;
  height: 100%;
  /* border: 2px solid blue; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-image-cont > .slot {
  width: 100%;
  height: 20%;
  cursor: pointer;
  /* border: 2px solid orange; */
}

.filtered {
  filter: brightness(50%);
}

.right-image-cont > .arrow-controls {
  width: 30px;
  height: 30px;
  /* border: 1px solid greenyellow; */

  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 136, 255);
}

.right-image-cont > .arrow-controls:hover {
  transform: scale(1.2);
  transition: 1.5s;
  background-color: rgb(154, 47, 47);
}

/** arrow-controls */
.arrow-controls.topside {
  top: 5px;
  z-index: 10;
}

.arrow-controls.bottomside {
  bottom: 7px;
  z-index: 10;
}

.active {
  display: block;
}
